:root {
    --navy: #0A192F;
    --light-navy: #112240;
    --lightest-navy: #233554;
    --slate: #8892B0;
    --light-slate: #CCD6F6;
    --white: #E6F1FF;
    --green: #64FFDA;
}

body {
    background-color: var(--navy);
    color: var(--white);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, sans-serif;
    line-height: 1.6;
}

header,
main {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 20px;
}

header {
    max-width: 1000PX;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 30px;   
}
header h2 {
    font-size: 1.3rem;
    font-weight: 100px;
}
header nav a {
    text-decoration: none;
    color: var(--green);
    font-size: 1rem;
}
header nav a:hover {
    color: var(--slate);
}

h1 {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 30px;
}

article{
    margin-bottom: 40px;
    padding-bottom: 30px;
    border-bottom: 1px solid var(--lightest-navy);
}

article h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

article p {
    color: var(--slate);
    font-size: 1rem;
    line-height: 1.7;
}

.new-post {
    color: var(--slate);
    margin-top: 50px;
    padding: 30px;
    border-radius: 8px;
    transition: 0.5s ease;
}
.new-post h2{
    color: var(--white);
}

.new-post input,
.new-post textarea {
    background-color: var(--lightest-navy);
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    font-size: 1rem;
    box-sizing: border-box;
}
.new-post input {
    height: 45px;
}
.new-post textarea {
    min-height: 150px;
}
.new-post input:focus,
.new-post textarea:focus {
    border: 1px solid var(--lightest-navy);
    border-radius: 4px;
}
.new-post button {
    background-color: var(--lightest-navy);
    color: var(--green);
    border: none;
    padding: 12px 24px;
    border-radius: 25px;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.2s ease;
}
.new-post button:hover {
    background-color: var(--light-navy);
    color: var(--green);

}